@charset "UTF-8";

#mainwrapper {
	/* Container of all content */
	width: 100%;
	overflow: auto;
}

#mainwrapper header {
	/*Header */
	overflow: auto;
	padding-left: 20px; /* Adjust the value according to your desired gap size */
  box-sizing: border-box;

  z-index: 1;
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#mainwrapper header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px; /* Adjust the value according to your desired gap size */
  height: 100%;
  background-color: #fff; /* Set the background color to match the background of your header */
  z-index: -1;
}

#mainwrapper header #logo {
	/* Company Logo text */
	display: flex;
    align-items: center; /* align items vertically in the middle */
	height: 50px;
	width: 30%;
	float: left;	
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgba(146,146,146,1.00);

}
#mainwrapper header #logo a{
	color: #383737;
	text-decoration: none;	
}
#mainwrapper header #logoText{
	color: #383737;
	font-size: 25px;
	padding-left: 10px; /* add some space between the logo image and text */
	white-space: nowrap;
}

#mainwrapper header nav {
	/*Nav bar containing links in header */
	display: flex;
	height: 50px;
	width: 70%;
	padding-top: 12px;
	padding-bottom: 12px;
	align-items: center; /* align items vertically in the middle */
	color: rgba(146,146,146,1.00);
	justify-content: flex-end;	
}

#mainwrapper header nav a {
	/* Links in header */
	color:#484848;
	text-decoration: none;	
	/* Links in header  */
	padding-right: 3%;
}

#mainwrapper header nav a:hover {
	/* Links in header */
	color:#8D8D8D;	
	text-decoration: none;	
	/* Links in header  */
	padding-right: 3%;
}

/* css for selected nav bar to change color*/
#mainwrapper header nav a.selected {
  color: #8D8D8D;
}




nav ul li {
	list-style-type: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
nav ul {
	padding-left: 0%;
}
nav ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;
}





#mainwrapper header .icon{
    display: none;
}


/* change the navigation in smaller screensize*/
@media (max-width:828px){

  /* Move navigation menu to the right */
  #mainwrapper header nav {
    display: none;
    position: absolute;
	width: 100vw;
	height: 100vh;
    right: 0;
    top: 50px; /* Set top position to align with header */
    background: white;
    padding: 20px;
    text-align: right; /* Align text to the right */
	 z-index: 1;

  }
	#mainwrapper header #menu {
		  background: rgba(255,255,255,0.97);
		  width: 100vw;
		  height: 100vh;
		  top: 0;
		  display: none;
		position: fixed; /* Set the position to fixed */
  overflow-y: auto; /* Enable scrolling within the menu */
	}		
	#mainwrapper header #menu a{
		text-align: center;
		margin-top: 5%;
	}	
  
	/* Show navigation menu when hamburger icon is clicked */
	#mainwrapper header #menu .icon.clicked + nav {
		display: block;
	}
	
	/* Style navigation menu links */
	#mainwrapper header nav a {		
		color: #484848;
		display: block;
		text-align: right; /* Align text to the right */
	}
	
  /* Style the hamburger menu */
  #mainwrapper header .icon {
	  display: block;
	  position: fixed;
	  right: 0;
	  top: 0;
	  padding-top: 30px;
	  padding-bottom: 12px;
	  padding-right: 12px;
	  align-items: center;
	  color: rgba(146,146,146,1.00);
	  justify-content: flex-end;
	  	 z-index: 2;
  }
	
	.fa {
		margin-right: 1rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px!important; /* Increase the font size to make the icon bigger */
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


		
}









#content #mainContent h1, #content #mainContent h2 {
	/* Styling for main headings */
	color: rgba(146,146,146,1.00);
}
#content #mainContent h3 {
	/*Captions ot Taglines */
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	color: rgba(146,146,146,1.00);
}
#content #mainContent #bannerImage {
	/*Container for main banner image */
	width: 100%;
	background-color: rgba(208,207,207,1.00);
}
#content #mainContent p {
	/* All paragraphs under maincontent */
	color: rgba(146,146,146,1.00);
	font-family: source-sans-pro, sans-serif;
	font-style: normal;
	font-weight: 200;
	text-align: justify;
}
#content #mainContent #authorInfo {
	/* Author info section */
	background-color: rgba(208,207,207,1.00);
}
#content #mainContent #authorInfo h2, #content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 11px;
}
#content #mainContent #authorInfo p {
	color: rgba(255,255,255,1.00);
	padding-left: 2%;
	padding-top: 0px;
	padding-bottom: 11px;
	padding-right: 2%;
}
#mainContent {
	/* Container for the blog post in individal blog view */
	padding-left: 2%;
	width: 71%;
	float: left;
	padding-right: 2%;
	padding-top: 41px;
}

#content #sidebar input {
	/* Search box in sidebar */
	width: 98%;
	height: 32px;
}
#content #sidebar #adimage {
	/* Container for Image in sidebar */
	width: 100%;
	background-color: rgba(208,207,207,1.00);
	margin-top: 46px;
	float: none;
	overflow: auto;
}

#footerbar {
	/* Footer bar at the bottom of the page */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Adjust the gap value as needed */
	background-color: rgba(208, 207, 207, 0.5); /* Lighter gray color */
	padding: 2% 2% 2% 2%;
}

.footer-column p {
	padding-left: 2%;
}

.footer-column a{ 
text-decoration: none;}

.notOnDesktop {
	/*element to be displayed only in mobile view and tabet view */
	display: none;
}
#mainContent #bannerImage img {
	/* Actual banner image */
	width: 100%;
}
#sidebar #adimage img {
	/* Image in sidebar */
	width: 100%;
	float: left;
}


/* Tablet view */
@media screen and (max-width:769px) {
	#mainwrapper #content #sidebar {
		/* Sidebar*/
		float: none;
		width: 92%;
		padding-top: 13px;
		overflow: auto;
		margin-top: 3px;
		margin-left: 2%;
		padding-bottom: 13px;
	}
	#mainwrapper header {
		/* Header */
		width: 100%;

	}
	.notOnDesktop {
		/* Search box shown only in mobile view and Tablet view */
		display: block;
		text-align: right;
		padding-right: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
		width: 96%;
	}
	#content .notOnDesktop input {
		height: 28px;
	}
	#mainContent {
		/* Container for the blog post */
		padding-top: 0px;
		float: none;
		width: 96%;
	}
	#sidebar input {
		/* Search box in sidebar */
		display: none;
	}
	
	#content #sidebar #adimage {
		/* Image in sidebar */
		width: 60%;
		margin-top: 0px;
		float: left;
	}
	
	#footerbar {
      grid-template-columns: 1fr; /* Set a single column layout */
    }	
	
	.footer-column:last-child {
    order: -1; /* Move the last column to the beginning */
  }
	
}

/* Mobile view */
@media screen and (max-width:480px) {
	
	#mainwrapper #content #sidebar {
		/* sidebar */
		padding-bottom: 0px;
	}	
	#mainwrapper header #logo {
		/* Company Logo text in header */
		width: 96%;
		margin-left: 2%;
	}

	#content .notOnDesktop {
		/* Search box shown only in mobile and tablet view */
		width: 100%;
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
	#content .notOnDesktop input {
		width: 80%;
		text-align: center;
	}
	#content #mainContent h3 {
		/* Title under maincontent, if any */
		font-size: 14px;
	}

}

